[2018-02-13 16:49] tonysneed opened #6 "Logo"
![urf-logo](https://user-images.githubusercontent.com/2836367/36162252-7ec8dd8a-10ab-11e8-936c-11bbb77ef574.png)

[2018-02-13 16:49] #6 closed

[2018-02-14 23:09] tonysneed opened #8 "Graphics"
![2018-02-09_0-16-15](https://user-images.githubusercontent.com/2836367/36233036-c501125a-11a9-11e8-972f-8c673534760a.png)

[2018-02-15 03:54] bdongus opened #12 "Support for read only repository?"
I would like to have support for read only repositories. Implementing something like CQS needs no insert, delete or update in the "Q" part. The injected context could then be an untracked one, which IMHO improves performance.

[2018-02-15 04:02] bdongus opened #13 "Abstracting the exceptions"
"DbUpdateConcurrencyException" in the example is EF specific. Abstracting ORM exceptions would remove the EF dependency from the business logic layer. That way another ORM or technology could be used in the lower layer. Or did I get something wrong?

[2018-02-17 07:05] lelong37 commented on #8
![image](https://user-images.githubusercontent.com/4691404/36338744-aec7ce78-137c-11e8-8a2b-ec82befa64b2.png)

[2018-02-17 10:18] tonysneed commented on #8
Neato

[2018-02-17 11:50] #8 closed

[2018-02-17 12:00] tonysneed commented on #13
Certainly this is an option for the individual developer (rather than the framework).

[2018-02-17 12:03] tonysneed commented on #12
There is support for this kind of thing in the new architecture.  So basically you just add the URF.Core.EF package and don't add the *.Trackable packages.  Then you will be able to use URF without change tracking.  The overhead involved change-tracking (graphs), vs write vs read-only.

[2018-02-17 12:05] tonysneed opened #14 "Code in ReadMe"
@lelong37 Does the code in the ReadMe need correcting for the Put method?  I think it should be `_productService.Update(products);` vs `products.TrackingState = TrackingState.Modified`

[2018-02-21 04:03] lelong37 commented on #14
Done...! for both URF.Core and URF.Core.Sample.

[2018-02-21 04:03] #14 closed

[2018-02-21 04:13] lelong37 commented on #12
Yes, or you could just create your own e.g. IRepositoryX<TEntity>, the concrete implementation of IRepositoryX can easily be injected with URF's IRepository<TEntity> however only exposing what you consider "read-only" or on the "Q" side of things. For the other side CQRS (write related), simply create IRepositoryY<TEntity> (same pattern, Decorator Pattern) and inject IRepository<TEntity> into it's

[2018-02-21 04:13] #12 closed

[2018-02-21 04:19] lelong37 commented on #13
Agree w/ Tony on this one, you could choose to throw any other exception or even you own, closing this.

[2018-02-21 04:19] #13 closed

[2018-02-22 14:33] Domitnator opened #15 "Post example not working"
Hi Guys,

First of all: Thanks for bringing URF to .net core! I liked working with the "old" urf framework a lot!

I am wondering if the Post action in the ODataController is actually working?

![image](https://user-images.githubusercontent.com/13468638/36543484-30efe5aa-17e4-11e8-8ef2-cf1265dbfbd8.png)

I created my own project and basically did the same implementation as the sample project but n

[2018-02-22 20:16] Domitnator commented on #15
To make things easier/debugable:

You can simply add this test to \URF.Core\URF.Core.EF.Tests\ServiceTest.cs. Where i simply try to add a customer by using the service.

[code]
And see that nothing is being added to the database.

[2018-02-26 18:31] lelong37 commented on #15
Hi @Domitnator, could you be so kind and please go ahead and issue a PR (Pull Request) and submit your failing unit test so that we can debug this as well?

[2018-02-26 20:08] Domitnator commented on #15
@lelong37 : Sure! Will do this tommorow!

[2018-02-27 19:08] sreul opened #17 "Delete Action"
Hi, I'm new to URF/URF.Core and I used your Northwind example to get started. The Delete Action seems not to work.  I run a DELETE http://localhost:2791/odata/Products(77)' via Postman, but that did not delete key 77 from the database (SQLSERVER). Hope you can reproduce the issue or tell me how to execute the Delete Action correctly. Thanks in advance!
![urf delete](https://user-images.githubuserc

[2018-02-27 21:08] lelong37 commented on #17
Yes, we're tracking this issue (https://github.com/urfnet/URF.Core/issues/15), should have a fix released tomorrow, will update this issue, once this is completed.

[2018-02-28 06:34] lelong37 commented on #15
Could you guys @Domitnator @sreul be so kind to test, again, just released v1.0.0beta2 https://github.com/urfnet/URF.Core/releases/tag/1.0.0-beta2. Sample https://github.com/urfnet/URF.Core.Sample has also been updated w/ fix.

[2018-02-28 06:39] lelong37 commented on #17
Please see https://github.com/urfnet/URF.Core/issues/15#issuecomment-369136557, thanks!

[2018-02-28 06:39] #17 closed

[2018-02-28 07:47] sreul commented on #17
Hi @lelong37, the Delete Action now works. Thank you!

[2018-02-28 07:48] lelong37 commented on #17
Your very welcome :)

[2018-02-28 13:38] Domitnator commented on #15
@lelong37 : Just confirmed it now works, great work! Case closed! Kind Regards, Alfred

[2018-02-28 13:38] #15 closed

[2018-02-28 13:40] sreul commented on #17
Please have a look at namespace "URF.Core.Abstractions". Sometimes you write "URF..." and sometimes "Urf...". Maybe this is not what you want? :)
![urfnamespace](https://user-images.githubusercontent.com/26249914/36790508-52d54c54-1c95-11e8-8c4a-af56f3994498.png)

[2018-03-01 06:22] ferryferry opened #18 "Delete on ITrackableRepository"
Hi,

Today I was testing with URF.Core..

I created a delete API function to delete a tweet from the database
![image](https://user-images.githubusercontent.com/17270672/36829650-78e51704-1d20-11e8-9638-6ecdfaf79d85.png)

After the function has ran, it gives me an "200" Ok response, but when I check the database, the tweet with id 1 is still there.

Am I doing something wrong?

[2018-03-07 12:24] lelong37 commented on #18
@ferryferry we've ran integration tests on our side, and it is successful inside.

- Could you check to make sure you're running latest URF.Core packages?
- If this isn't resolved after updating to URF.Core latest NuGet packages, could you be so kind to submit a PR with it failing so we can reproduce what your experiencing on your side?

Before:
![image](https://user-images.githubusercontent.com/4

[2018-03-07 13:14] tonysneed commented on #18
@lelong37 Do we call apply changes in the delete method?

[2018-03-07 13:17] tonysneed commented on #18
Now that I think about it, maybe it’s better if we just updated the individual entity stayed here?

[2018-03-07 13:27] lelong37 commented on #18
@ferryferry we've also just updated URF.Sample which has Delete Action https://github.com/urfnet/URF.Core.Sample.

[2018-03-07 19:50] tonysneed commented on #18
Related: #19.  Does not address this issue per se, but makes the behavior more consistent.

[2018-03-08 01:33] #18 closed

[2018-03-15 12:43] noufionline opened #20 "Change Track is not happening while using Patch"
I was just trying your sample.

First of all, it doesn't update without explicitly specifying _productService.ApplyChanges() before calling unitOfWork.SaveChangesAsync().

Even though I only updated one property it updates every single property in the table.

Am I missing something?

[2018-03-15 12:50] noufionline opened #21 "Insert called even in update and delete methods"
Hi there,

I am a bit confused here.

In your repository code

[code]
and at the same time in the Trackable Code
[code]
Even for Delete and Update methods Insert is called.

[2018-03-16 01:32] celestialtek commented on #21
Oh, I had to clone and modified these code, I think author copy & paste in code 💃

[2018-03-16 23:52] lelong37 commented on #20
There was a PR that issued with a minor refactor, and there was a bug that was introduced during the merge, this has been hot-fixed, released and URF.Core NuGet Packages RC1 has been released with the hot-fix and live demo has been redployed with RC1 bits.

* https://github.com/urfnet/URF.Core/releases/tag/v1.0.0-rc1
* https://www.nuget.org/packages?q=urf.core
* https://github.com/urfnet/URF.Core.

[2018-03-16 23:52] #20 closed

[2018-03-16 23:52] lelong37 commented on #21
There was a PR that issued with a minor refactor, and there was a bug that was introduced during the merge, this has been hot-fixed, released and URF.Core NuGet Packages RC1 has been released with the hot-fix and live demo has been redployed with RC1 bits.

* https://github.com/urfnet/URF.Core/releases/tag/v1.0.0-rc1
* https://www.nuget.org/packages?q=urf.core
* https://github.com/urfnet/URF.Core.

[2018-03-16 23:52] #21 closed

[2018-03-17 21:35] lelong37 opened #22 "Upgrade to EF v2.1.0"

[2018-03-17 21:36] lelong37 opened #23 "Adding integration test for saving complex object graph with different TrackingState's across all entities across graph"
Added to TrackableRepositoryTest.ApplyChanges_Should_Set_Graph_States integration test.

[2018-03-17 21:38] lelong37 commented on #23
Added to TrackableRepositoryTest.ApplyChanges_Should_Set_Graph_States integration test.

[2018-03-17 21:42] lelong37 commented on #23
Released w/ URF.Core rc2.

[2018-03-17 21:42] #23 closed

[2018-03-17 21:43] lelong37 commented on #22
Released w/ URF.Core RC2.

[2018-03-17 21:43] #22 closed

[2018-04-01 03:13] Crazybutch opened #24 "Saving Related Data"
https://docs.microsoft.com/en-us/ef/core/saving/related-data

I've tried to save a Entity with 2 entries in the Navigation Property.
But only the main Entity gets saved, the entries in the Navigation Properties are ignored.

Any clue?

[2018-04-01 16:07] tonysneed commented on #24
This article describes graph updates in a connected scenario, where the EF change tracker can mark entities as Added or Removed while connected to the database.

In a disconnected scenario, such as a web API, you need another mechanism, such as provided by Trackable Entities. So you need to a) set the Trackable property on objects in your graph, and b) in the web API call ApplyChanges on the root

[2018-04-02 01:50] Crazybutch commented on #24
Thank you very much.

Works like a charm.

[2018-04-02 01:50] #24 closed

[2018-04-06 13:57] fruex opened #25 "Handling local cache in Repository"
Hello,

I do not have the opportunity to ask something here.
But I wanted to know how you solved the problem with reading the Local for Set collection from the context as a issue.

I am using the previous version of the framework (based on EF 6.1.3), where I expanded the Set with the Local() method, in which I can check whether a given entity with the Identity key has already been created.

My pro

[2018-04-08 22:42] lelong37 commented on #25
Hi @fruex , is it possible for you to submit a PR adding a unit test (possible to: https://github.com/urfnet/URF.Core/blob/master/URF.Core.EF.Tests/RepositoryTest.cs) that asserts your specific use case? Sounds like distinguishing between local instance and possibly handling an "upsert" scenario? If you need to submit the PR with the unit test failing that's fine, again this way we can understand

[2018-04-18 06:01] lelong37 commented on #25
Closing due to no response.

[2018-04-18 06:01] #25 closed

[2018-04-25 07:47] nkovacic opened #26 "Missing ThenInclude"
In EF6 you could include nested navigation properties using the regular Include method, but in EF Core this is not possible anymore.
Is this usercase supported in URF.Core?

[2018-04-25 11:28] tonysneed commented on #26
This question pertains to entity framework, not you RF. But EF core does support nested includes. Please see the EF core documentation.

[2018-04-25 12:39] nkovacic commented on #26
I am asking in the context of Repository and Query class in URF.Core.
https://github.com/urfnet/URF.Core/blob/master/URF.Core.EF/Query.cs#L25

In URF.EF6 you could use .Include(q => q.Property.Select(property => property.NavigationProperty) to use nested eager load of entities. This is not possible in currently in URF.Core because EF.Core has disabled this type of nested Include and instead uses .

[2018-04-25 13:11] tonysneed commented on #26
What’s wrong with the new syntax? Maybe provide an example?

[2018-04-25 13:28] nkovacic commented on #26
https://docs.microsoft.com/en-us/ef/core/querying/related-data#including-multiple-levels

How can this example by translated to URF.Core Repository pattern?
Because as I mentioned the Query class in URF.Core is missing .ThenInclude method.

[2018-04-26 02:00] tonysneed commented on #26
@lelong37 You want to take a stab at this?

[2018-04-26 02:28] lelong37 commented on #26
Sure, reviewing...

[2018-04-26 12:52] rdhainaut opened #27 "Synchrone Methods For Repositories, Services, Unit of work"
First of all, **thank you for your work** (and for the new URF.Core)

I have noticed a difference between URF and URF.Core.  A lot of synchronous methods (_for repository, service and unit of work_) are gone.
Of course, the asynchronous methods will have a positive impact on the performance
But often some piece of code need to run synchrone way.
In that case, add an await operator for each instruc

[2018-04-27 21:07] lelong37 commented on #27
@rdhainaut this was actually a good question, which also pushed us to do a PR with examples on how to extend IRepository<TEntity>, ITrackableRepsoitory<TEntity>, and IService<TEntity> so that you and other teams can extend URF for your project & teams specific use cases. We even took the liberty to add a synchronous method for you in the examples. The example illustrates best practices and pattern

[2018-05-05 08:34] nkovacic commented on #26
Any update on this? It is a important feature and we are currently using Include with magic strings as a workaround.

[2018-05-12 12:52] nkovacic commented on #26
@lelong37 the referenced test only includes one level deep, where .ThenInclude is used after that.
A quick fix, which we are currently using is converting .Include nested expression to string path as described on [https://stackoverflow.com/questions/46374252/how-to-write-repository-method-for-theninclude-in-ef-core-2](https://stackoverflow.com/questions/46374252/how-to-write-repository-method-for-

[2018-05-12 22:53] lelong37 commented on #26
@tonysneed can you take a look at this? I took a look at we’ll need to keep a list of includes that are relational (includes, thenIncludes) and iterate through them and add them to IQueryable before binding while in deferred execution.

[2018-05-12 23:00] tonysneed commented on #26
I’ll have a look tomorrow.

[2018-05-14 13:49] tonysneed opened #29 "Clean Up: Inconsistent Namespace Casing (Urf vs URF), Regions"
There are some places where Urf is used and others where URF is used.
We should also get rid of regions (around imports, etc), since those are basically a code smell.

[2018-05-16 15:14] tonysneed commented on #26
Resolved by #28.

[2018-05-16 15:14] #26 closed

[2018-05-16 15:25] tonysneed opened #30 "Travis CI Won't Run Tests Requiring MS SQL Server"
We are ignoring the Include tests because they require MS SQL Server, which is not supported directly on Linux.
- One idea is to use SQL Server for Linux in order to run those tests in CI.

[2018-05-21 14:11] ydlkrishna opened #31 "Concurrency Issues URF.Core Applychanges and SaveChanges"
I am trying to add data into a table that has Instead of trigger that was throwing DBConcurrency issue which has gone away after adding a select statement as suggested in the below link in the trigger.
https://stackoverflow.com/questions/5820992/error-when-inserting-into-table-having-instead-of-trigger-from-entity-data-frame?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-05-21 23:02] #29 closed

[2018-05-21 23:03] tonysneed opened #33 "Update to EF Core v2.1 RC and Trackable Entities v1.0"

[2018-05-21 23:11] #33 closed

[2018-05-22 16:28] ydlkrishna opened #35 "How to implement Conditional Include using URF.Core"
Please help me to implement Conditional Include something like below... using URF.Core

https://www.bartwolff.com/Blog/2017/08/19/entity-framework-conditional-includes
 return _context.Products
                .Where(x => x.Id == id)
                .Select(x => new
                {
                    p = x,
                    r = x.Resources.Where(y => y.LanguageCode.Equals(languageCode))

[2018-05-22 17:49] tonysneed commented on #35
@ydlkrishna The blog post you reference encapsulates the conditional include in the `GetProduct` method of a `ProductRepository`.  You can do the same thing with URF by creating your own `ProductRepository` that extends `Repository<Product>`, where you will have access to the `DbContext` and can use it to implement the kind of query you see here.

[2018-05-23 01:40] #35 closed

[2018-05-23 12:28] ydlkrishna opened #36 "Stored Procedures with URF.Core"
Is there any way to use Stored Procedures and binding to complex entity types which is available in URF.Net? If not any workarounds as we have lot of business logic already implemented in SQL Server DB and make use of it for new application development? Or we should go back and use EF6 with URF.Net or the combination of EF6 for SPs and EF Core for regular table entities or some else...

Thanks in

[2018-05-23 15:35] tonysneed commented on #36
Just published NuGet packages yesterday for URF.Core v1 RTM.

[2018-05-24 16:41] vialeda opened #37 "How to save related data from a service?"
Hello, is this possible to save related data without the need of creating a service for each children entities?
Let's say you have this **post** entity:

1. Post entity have a collection of PostTranslation
2. Post entity have a collection of PostField
3. Then PostField also have a collection of PostFieldTranslation

In order to save it all, I have to create a PostService, PostTranslationService, P

[2018-05-24 16:55] #36 closed

[2018-05-24 18:21] Crazybutch commented on #37
If I understood your question, this could help you (same question i've asked some time ago):
https://github.com/urfnet/URF.Core/issues/24

[2018-05-24 21:06] tonysneed commented on #37
Yes I concur with @CrazyButch — you can do graph updates with URF support for my Trackable Entities framework.

[2018-05-25 15:33] tonysneed commented on #37
Let me know if you need further assistance and I’ll re-open.

[2018-05-25 15:57] vialeda opened #38 "The current CSharpHelper cannot scaffold literals of type 'Microsoft.EntityFrameworkCore.Metadata.Internal.DirectConstructorBinding'. Configure your services to use one that can."
Since the RC2 version until the official 1.0.0 I got a problem with the migration system with Visual Studio. Once I install the package I get this message when I add migration: The current CSharpHelper cannot scaffold literals of type 'Microsoft.EntityFrameworkCore.Metadata.Internal.DirectConstructorBinding'. Configure your services to use one that can.
I do not have the error message if I use the

[2018-05-25 16:42] tonysneed commented on #38
What version of the .NET Core SDK are you using?

[2018-05-25 20:46] vialeda commented on #38
2.1.200

[2018-05-25 21:00] tonysneed commented on #38
There's your problem.  You need to install the SDK for .NET Core 2.1.3 ( currently in RC): https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-rc1

[2018-05-25 21:01] tonysneed commented on #38
URF.Core v1 depends on EF Core 2.1, which is now RC but will RTM any day now.

[2018-05-25 21:05] vialeda commented on #37
Would you give me a quick sample please of how setting a trackable property on objects in the graph?

[2018-05-25 21:09] vialeda commented on #37
Also, does trackable property take care of Update/Insert/Delete?

[2018-05-25 21:19] tonysneed commented on #37
If you use the *Trackable* URF packages and derive your entities from the base `Entity` class, each object will have a `TrackingState` property which you can set (usually on the client).  This enum has values from Unchanged, Added, Modified, Deleted.

Then in your API all you have to do is call `ApplyChanges`, followed by `SaveChangesAsync`.

[2018-05-25 22:17] vialeda commented on #38
I just finished the installation and I got the same error... Do I have to clear the cache of something?

[2018-05-26 00:48] tonysneed commented on #38
I'll try to reproduce this on my end.  Can you post a sample repo on GitHub?

[2018-05-26 01:57] vialeda commented on #37
Work very well, thank you !! :)

[2018-05-26 02:19] #37 closed

[2018-05-26 16:42] vialeda commented on #38
Thank you tonysneed, I updated all other packages as well to the 2.1RC. It's now working. Thank you!!

[2018-05-26 17:06] tonysneed commented on #38
My pleasure!

[2018-05-26 17:06] #38 closed

[2018-06-02 14:29] tonysneed commented on #30
Deferring this for now.

[2018-06-02 14:29] #30 closed

[2018-06-14 13:16] Domitnator opened #42 "CancellationToken"
Hi Guys,

The Query class (URF.Core.EF\Query.cs) has a bunch of methods. I noticed that for some of the the CancellationToken is set to default but not for all:

![image](https://user-images.githubusercontent.com/13468638/41412949-ebfe2ee2-6fe1-11e8-8a0e-0cc0ded1d635.png)

Is that done with a specific reason?

I'm using the FirstOrDefaultAsync method a lot (for including child properties) and it i

[2018-06-15 09:19] prasanna32 opened #43 "Remove sub entity not working"
In your TrackableRepositoryTest, you have a method Task ApplyChanges_Should_Set_Graph_States which adds orderdetails to order with order.OrderDetails.Add(addedDetail). I am trying a similar operation with .Remove. However the sub entity is not getting removed/deleted.

Do you have an example for the same?

[2018-06-19 13:14] ydlkrishna opened #44 "Automatic tracking state"
Do we have any option to determine the state automatically? for e.g. a ProductDTO is received from the consumer and mapped to the Product entity fetched from DB by using Automapper and in this case the Tracking state of the Product entity should be automatically changed to Modified (,if the Product properties are changed by ProductDTO) ? or we should always set the Tracking State manually for each

[2018-06-19 14:48] tonysneed commented on #44
The way change tracking works is that tracking state is set on the client (either manually or using a change tracker).  The TrackingState property on each entity is then serialized to the service.  At that point, your automapper should copy it from the DTO to the entity.  No changes are necessary on the service side.

[2018-06-19 14:53] ydlkrishna commented on #44
@tonysneed , yeah! I got that. do you have any recommondation or examples on how we can implement the TrackingState at client side? I see your JS client side library is still in alpha release.
If we are not able to set the tracking state at client side, what workarounds we have to handle this in serer side?

[2018-06-19 15:07] tonysneed commented on #44
Do you have a JS client? If so I suggest trying the npm package. Even though it is in alpha, it does work.

@lelong37 Do you want to work on a sample that includes client-side change tracking in Angular?

[2018-07-22 06:05] ydlkrishna opened #45 "Why do we need Trackable Entity?"
Hello, as EF Core already providing the automatic state tracking, why do we need to implement trackable entity? I am not sure if I am missing something here. please shed some light on this area for my better understanding.
Thanks in advance,
Krishna.

[2018-07-22 23:50] tonysneed commented on #45
Hi there Krishna.  So the purpose of Trackable Entities is to track entity change state _across service boundaries._ . When an entity is sent from client to service, EF sets its state to **Detached**, which means it is not being tracked at all.  But if the entity has a `TrackingState` property, Trackable Entities (used by URF.Core) can look at the state (Unchanged, Added, Modified, Deleted) and th

[2018-07-25 09:59] ugomonte opened #46 "Transactional integrity using oData batch"
hi,

I'm trying to use odata's batch functions with net core 2.1.

on API:
...
app.UseODataBatching ();
routeBuilder.MapODataServiceRoute ("ODataRoute", "odata", oDataConventionModelBuilder.GetEdmModel (), new DefaultODataBatchHandler ());

on Client:
...
var responses = await container.SaveChangesAsync (SaveChangesOptions.BatchWithSingleChangeset);

The container calls the various API controllers

[2018-07-28 21:29] ahmedjalalmalik opened #47 "How to use Transactions in this framework"
I am trying to use Transactions in this but there is no such example  and implementation. whereas in URF.Net there is an implementation of that ass shown below
[code]

[2018-07-29 01:10] tonysneed commented on #47
@ahmedjalalmalik EF Core gives you a transaction for free when you call `SaveChangesAsync`, so there is no need to explicitly begin a transaction, unless you wish to alter the default transaction settings (such as timeout or isolation level).

In case you do need to change transaction characteristics, then the best practice is to use [System.Transactions](https://docs.microsoft.com/en-us/ef/core/s

[2018-08-09 14:41] Domitnator opened #48 "Possible SingleOrDefaultAsync issue?"
Hi Guys,

I bumped into a really strange issue when working on a project while using URF.core. I noticed that in my unit test a really simpel assert failed. But because there was a lot of custom code involved i first thought it was a mistake on my side so i skipped over it. Today I ran into the same issue again so I updated my fork of urf.core and added a simpel unit test:

[code]

To my suprise t

[2018-09-12 11:56] vinayaroraincedo opened #49 "How to store Header and Detail relation data?"
I'm trying to store Header and Detail relation data using Insert function for URF.Core.Services.

 _notificationService.Insert(
                new Notifications()
                {
                    ClientId = command.ClientId,
                    ClientNotificationTemplateId = command.ClientNotificationTemplateId,
                    ConsumerId = command.ConsumerId,
                    Notifia

[2018-09-12 13:16] vinayaroraincedo commented on #49
I've go thorough the #37 but it doesn't help me. I've made a ApplyChanges() call on the parent object but savedChanges gives me 1.

 _notificationService.Insert(notification);
_notificationService.ApplyChanges();
int savedChanges = await _unitOfWork.SaveChangesAsync();

[2018-09-12 20:43] Crazybutch commented on #49
@vinayaroraincedo I'm creating the Id in my Code Id = Guid.NewGuid(); because SaveChanges just returns the count of saved datasets (rows?)

I set the Id on my Dto - AutoMapper to -> Entity and after successful SaveChanges() > 0 I know that my self created Id is valid.

[2018-09-16 21:06] #47 closed

[2018-10-03 14:53] Domitnator commented on #37
Took me a while to figure this out, so for everyone else:

If you are working with OData (like i do) the TrackingState is not automatically added as a property of your model/entity. You have to do this by hand via the ODataConventionModelBuilder:

[code]

[2018-11-20 19:14] youngaj opened #51 "Support for Detach Tracking State"
**Is there a way to create a `Detached` TrackingState?**

I'm running into a problem where I want to detach a graph of objects but the service/repo seems to only detach the top level entity.  When I go to save the entity it complains that another entity with the same id already exists but it should be part of the detached object graph.

My reason for doing this (and perhaps there is a better way,

[2018-12-04 00:11] svachha opened #52 "support for multiple context"
how to use this framework when you have multiple database to target in same project.

Repository takes Dbcontext but only the last DI registration will be used.

Ex.
services.AddScoped<DbContext, AContext>();
            services.AddScoped<DbContext, BContext>();
            services.AddScoped<IUnitOfWork, UnitOfWork>();
service.AddScoped<IRepository<TableA>,Repository<TableA>();
only BContext wil

[2019-01-14 23:10] tonysneed commented on #45
This question seems to have been answered.

[2019-01-14 23:10] #45 closed

[2019-02-12 13:25] aliBordbar1992 opened #53 "issue with using AspNetCore.Identity UserManager<IdentityUser> CreateAsync()"
having a model like this
[code]
and a service like this
[code]
the following exception is thrown calling `_userManager.CreateAsync()`:
`SqlException: Cannot insert explicit value for identity column in table 'TestEntities' when IDENTITY_INSERT is set to OFF.`

the same happens with a scenario like this:
[code]

and the service that actually I have is:
[code]

but this time it tries to insert the E

[2019-02-12 13:28] aliBordbar1992 commented on #53
here is my following SO question
[AspNetCore.Identity UserManager CreateAsync cannot save relationships](https://stackoverflow.com/questions/54633117/aspnetcore-identity-usermanager-createasync-cannot-save-relationships)

[2019-02-22 21:46] IvanFarkas opened #54 "Is there any plan to update the project to ASP.NET Core 3.0 and EF 3.0?"
### Is there any plan to update the project to ASP.NET Core 3.0 and EF 3.0?
I am realy interested to see the project updated to  ASP.NET Core 3.0 and EF 3.0.
Especially utilizing the following:

- **[Owned Entity Types](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities)**
- **[nested owned types](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities#nested-owned-types)**

[2019-05-02 10:27] GitHubAre commented on #48
In the Repository implementation they have something like:
[code]

So when you use Query() and some subsequent query operations, it will remember the expressions because this instance is used throughout the existence of the Repository.
Which is wrong in my opinion, because queries are supposed to be fire and forget.
I have fixed it by removing the local field from Repository class and using this i

[2019-05-10 07:16] Domitnator commented on #48
Great catch! Will try to add something similar to my code. But i'd rather not change URF internals as this would force me to add project references instead of nuget packages.

@tonysneed @lelong37 How do you guys feel about this? If you want i can make a PR for this issue?

[2019-05-10 16:53] tonysneed commented on #48
@Domitnator, yes I think a PR would be good.

[2019-05-13 18:01] AJMalik007 opened #55 "Why there is no async Insert and update methods"
I am trying to use this framework but when I look into it I have found many async methods but not insert and update my question is that why there is no async insert and update method is there is any logic behind it

[2019-05-13 21:37] tonysneed commented on #55
Insert and update do not touch the database, there is therefore no need for async on those methods — only on saving changes. It may be counter intuitive, but for EF these methods only mark the entity as Added or Modified. No changes are persisted until they are saved to the database in an atomic transaction.

[2019-05-17 23:07] #55 closed

[2019-05-20 08:55] aliBordbar1992 commented on #52
any updates on this one?

[2019-05-20 22:07] tonysneed commented on #52
@aliBordbar1992 This article offers a good solution to the problem of resolving multiple implementations: http://hamidmosalla.com/2018/06/30/dependency-injection-conditional-resolving-of-multiple-implementation-of-interface/

[2019-05-28 20:42] tonysneed commented on #54
Heck yeah. @lelong37 What do you think?

[2019-05-29 01:30] lelong37 commented on #54
Absolutely positively..!

On Tue, May 28, 2019 at 3:42 PM Anthony Sneed <notifications@github.com>
wrote:

--
​Programmatically,

Long Le
lelong37@gmail.com | @lelong37 <http://twitter.com/lelong37>
​blog <http://blog.longle.io> | ​​codementor
<http://www.codementor.io/lelong37#/reviews> | urf
<https://github.com/urfnet> | msdn
<https://msdn.microsoft.com/en-us/magazine/ee532098.aspx?sdmr=LongLe>

[2019-05-29 12:31] IvanFarkas commented on #54
Good to hear. Thx

[2019-05-29 20:30] tonysneed commented on #52
@aliBordbar1992 @svachha I completed a sample with all the needed code for using multiple DbContexts with URF.Core. Check it out: https://github.com/urfnet/URF.Core.Sample.MultiContext.

[2019-05-30 18:28] lelong37 commented on #53
Please turn on enable IdentityInsert on columns on your tables that are PrimaryKeys, this is a SQL and EF question, unrelated to Urf.Core, closing this issue.

[2019-05-30 18:28] #53 closed

[2019-05-30 18:29] lelong37 commented on #54
We are making plans on working on .NET Core release, next week, closing this.

[2019-05-30 18:29] lelong37 commented on #52
Thanks @tonysneed , awesome implementation, closing this issue.

[2019-05-30 18:29] #52 closed

[2019-05-30 18:30] lelong37 commented on #49
This is an EF issue, unrelated to URF, closing.

[2019-05-30 18:30] #49 closed

[2019-05-30 18:31] lelong37 commented on #51
@tonysneed is there anything he do here with Trackable?

[2019-05-30 18:32] lelong37 commented on #48
@Domitnator if you could be so kind to issue a PR on this, that would be great.

[2019-05-30 18:43] lelong37 commented on #46
EF Core manages Transactions out of the box, @tonysneed could you confirm? So we made a design decision not to support w/ Urf.Core since it would be redundant. However, you can easily implement this (from previous version of Urf: https://github.com/urfnet/URF.NET/wiki/Transactions).

[2019-05-30 18:46] lelong37 commented on #44
Although this is possible to surface entity Tracking state to ng and react apps via Web Api, Urf.Core doesn't officially support this. All you need to do is serialize the Entity State to ng when you make your Web Api call, closing issue.

[2019-05-30 18:46] #44 closed

[2019-05-30 18:47] lelong37 commented on #43
@tonysneed could you be so kind to advise here so we can close this issue out?

[2019-05-30 18:50] lelong37 commented on #43
@prasanna32 have you tried await ordersRepo.DeleteAsync(orderDetail)?

[2019-05-30 18:51] lelong37 commented on #42
@Domitnator could you be so kind to issue a PR setting CancellationToken = default?

[2019-05-30 19:51] IvanFarkas commented on #54
Fantastic. Thx guys.

[2019-05-30 20:29] tonysneed commented on #46
When SaveChanges is called in a controller, EF will put all changes in a single transaction. If you want to include multiple calls to SaveChanges in a single transaction, then they need to be wrapped in a TransactionScope within a using block. This is documented for EF Core [here](https://docs.microsoft.com/en-us/ef/core/saving/transactions). @lelong37 Could this be done at the service level?

[2019-05-30 20:35] tonysneed commented on #51
Detaching entities is an EF Core feature, and the default behavior is non-recursive, meaning they are detached one at a time. If you want to detach all the entities that are being tracked by EF, you will need to do this yourself from within your service. See this [SO answer](https://stackoverflow.com/a/43871169/825288) for an example.

[2019-05-30 20:51] tonysneed commented on #43
It should work as is. I’ll have a look at the test.

[2019-05-31 20:58] ugomonte commented on #46
I seem to have found a solution.

Using the appreciated indications https://stackoverflow.com/questions/21373362/transactional-batch-processing-with-odata
I implemented a new class inherited from DefaultODataBatchHandler in which I override ProcessBatchAsync using TransactionScope like this:

public class TransactionScopeODataBatchHandler : DefaultODataBatchHandler
    {
        private ILoggerMan

[2019-06-02 20:18] tonysneed commented on #51
Closing for now. Please re-open if needed.

[2019-06-02 20:18] #51 closed

[2019-06-02 20:19] tonysneed commented on #46
Closing as resolved. Thanks!

[2019-06-02 20:19] #46 closed

[2019-07-09 10:04] GeorgeWieggers commented on #48
Any idea when this pull request will be merged? I'm facing the same issue over here as well.

[2019-07-17 21:38] IvanFarkas commented on #54
Hi guys. How is it going?
Any update on this one?

[2019-07-17 22:18] tonysneed commented on #54
Waiting for the next preview (7) of EF Core to drop, as there has been some drift since preview 6. Should be dropping this month.

[2019-07-24 07:14] khizranAhmad opened #58 "FirstOrDefaultAsnyc()"
I am trying to get user by email I found following ways to get user using 'FirstOrDefaultAsync()'

public async Task<User> GetUserByEmail(string email)
{
        var result = await this.Repository.Query().FirstOrDefaultAsync(x=>x.Email==email, default);
        return result;
 }
![InkedScreenshot_1_LI](https://user-images.githubusercontent.com/47734172/61772815-9db16500-ae0c-11e9-892e-9d3d4c445cfb

[2019-08-01 10:46] IvanFarkas commented on #54
Dropped

[2019-08-12 22:45] tonysneed commented on #54
Created PR #62 for the EF Core 3.0 port.

Note the breaking changes:
https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes

NuGet preview packages have been published: https://www.nuget.org/packages/URF.Core.All/3.0.0-preview7

I'll keep this issue open to track progress as .NET Core moves from Preview to RC to GA.

[2019-08-13 07:51] Domitnator commented on #48
Fixed in https://github.com/urfnet/URF.Core/releases/tag/v2.2.0

[2019-08-13 07:51] #48 closed

[2019-08-13 07:51] Domitnator commented on #42
Fixed in https://github.com/urfnet/URF.Core/releases/tag/v2.2.0

[2019-08-13 07:51] #42 closed

[2019-09-11 21:22] ivanfarkas2 commented on #54
**Sensational!**

[2019-09-11 23:14] tonysneed commented on #54
Check out the 3.0 sample app: https://github.com/urfnet/Demo.UrfCore3

[2019-11-25 18:53] peterdw opened #63 "Repository.GetRepository<T>"
Where can I achieve the following URF.NET functionality in URF.Core ?
Getting another repository B from within repository A with this method:

public interface IRepository<TEntity> where TEntity : class, ITrackable
    {
        ...
        **IRepository<T> GetRepository<T>() where T : class, ITrackable;**
    }

[2019-12-01 12:59] ozturkfatih commented on #63
Hi Peter,
You can look at sample [V3 ](https://github.com/urfnet/URF.Core.Sample.v3). Implemantation URF.Core Unit of Work.

[2019-12-19 19:15] albertoVieiraNeto opened #64 "Modify Properties to be virtual"
Is it possible to change the properties of the class Entity on the namespace URF.Core.EF.Trackable to be virtual? this would help in extending functionality, for example adding a per-property change tracking event.

[2020-01-02 13:49] muhammadmubashirkhan opened #65 "is there any plan to migrate to .net core 3.1 and ef core 3.1"
is there any plan to migrate to .net core 3.1 and ef core 3.1, MS has fixed 150 issues in ef 3.1. i will be glad if this is made available.

[2020-02-23 05:54] somewhatlogical commented on #58
The FirstOrDefaultAsync() and others are not extension methods.  I assume this was done to preserve extensibility, though am not quite sure if that is needed for this specific instance

[2020-02-23 12:58] halida opened #66 "Support GroupBy for IQuery"
IQueryable has GroupBy, But IQuery did not support it, will you support it?

[2020-02-26 01:25] somewhatlogical commented on #58
Also, of course, note that you can easily declare the extension methods yourself if this is an issue, too.

[2020-03-05 12:16] najrul-islam opened #68 "Primary key is not tracked when Insert multiple entity with single SaveChangesAsync() on .Net Core 3.0"
Recently we upgrade our API from .Net Core 2.2 to 3.1 and URF.Core.EF.Trackable 2.2.0 to 3.0.0. In .Net Core 2.2 and URF.Core.EF.Trackable 2.2.0 everything was working fine. But after upgrade to URF.Core.EF.Trackable 3.0.0, when we Insert multiple entity and use the first entity Primary Key auto increment Id in others entity Foreign Key reference with single SaveChangesAsync() get the error. After

[2020-03-10 01:26] tonysneed commented on #65
Fixed with #69

[2020-03-10 01:26] #65 closed

[2020-03-11 14:05] tonysneed commented on #68
@najrul-islam Thanks for submitting the issue. As you note, this is a breaking change from EF Core 2.x to 3.x. Perhaps the best course of action would be to create a failing test to replicate this condition. Is this something you thing you might be able to do?

[2020-03-11 14:06] tonysneed commented on #54
This appears to be resolved.

[2020-03-11 14:06] #54 closed

[2020-03-11 14:33] tonysneed commented on #63
@peterdw Did this answer your question?

[2020-03-11 14:42] #63 closed

[2020-03-11 14:52] tonysneed commented on #58
@khizranAhmad You have a good point, that `IQuery` should have overloads of `FirstOrDefaultAsync` and `SingleOrDefaultAsync` that omit the predicate. As a workaround, just supply a predicate that returns `true`. You can leave out `cancellationToken` because it's optional anyway.

[2020-03-15 21:53] tonysneed commented on #58
Fixed by #72.

[2020-03-15 21:53] #58 closed

[2020-03-19 14:26] vialidadBsAs commented on #45
Hi Tony and sorry for reopen the case!
but should i must be update the trackingstate  on the client and send it to the server for this functionality?

[2020-04-25 18:13] rdhainaut opened #74 "[question] Why there is a method to load Property but not collection from Repository ?"
I have noticed that there is a "generic" method to load a "reference" property but not a "collection" property in the repository code.
I don t understand why there is a distinction and so no generic method for a collection property ?

Actual code for reference property
[code]

A proposition for collection property
[code]

[2020-04-25 21:47] tonysneed commented on #68
Closing this as we do not have a failing test.

[2020-04-25 21:47] #68 closed

[2020-04-25 22:20] tonysneed commented on #74
This sounds like a good idea. Would you care to submit a PR?

[2020-04-25 23:20] rdhainaut commented on #74
I will look at this monday :)

[2020-06-02 13:55] rdhainaut commented on #74
#75 it s done

[2020-06-03 06:33] neozhu opened #76 "[promotion]You can migrate the SelectPage method from the.NET version to the.NET Core version"
SelectPage ,SelectPageAsync ,Query(QueryObject<T>) These methods are very useful!

[2020-11-24 22:20] tonysneed opened #77 "[Enhancement] Update to .NET 5.0"

[2020-11-24 22:39] #77 closed

[2020-11-24 22:44] tonysneed commented on #77
Included in release [v5.0.0](https://github.com/urfnet/URF.Core/releases/tag/v5.0.0)

[2021-03-09 12:26] KervytRoy opened #79 "Prueba"
Prueba

[2021-03-10 11:23] #79 closed

[2021-06-02 14:42] neozhu opened #81 "How do I install myself compiled dotnet-scaffold and dotnet-aspnet-codegenerator tools?"
I want modify MVC controller and views template of this dotnet/Scaffolding project, Implement design patterns that are appropriate to your project?

would you tell me, if you know how to do it?

thanks

[2022-01-25 10:15] rdhainaut opened #82 "Typo issue https://github.com/urfnet/URF.Core/blob/master/URF.Core.Abstractions/IEnumerbale.cs"
It seems there is a typo error with the name of the following interface
https://github.com/urfnet/URF.Core/blob/master/URF.Core.Abstractions/IEnumerbale.cs

It should be IEnumerable (or it s a pun ?)

[2022-02-07 18:42] tonysneed opened #83 "Update to .NET 6"
Update to .NET 6.

[2022-02-07 18:42] #82 closed

[2022-02-07 18:42] #83 closed

[2022-02-08 19:17] tonysneed opened #85 "IEnumerable<T> Naming Collision"
URF.Core.Abstractions.IEnumerable<T> causes a collision with System.Collections.Generic.IEnumerable<T>.

As I don't see it being referenced anywhere, I would like to remove it.

[2022-02-08 19:22] #85 closed

[2022-04-10 04:49] DavidRogersDev opened #87 "A Sample which is More Simple"
I have always felt that the sample code for this project is too complex. There are too many dependencies.
To name 1 at a pinch, OData. This is unnecessary to demonstrate a Unit of Work/Repository implementation.
(I've never actually worked on a project which uses OData, so I'd have to go and figure out how to create Postman requests to simulate an OData request.)

It took me about 2 hours to get t

[2022-04-10 23:51] tonysneed commented on #87
Have you looked at [URF.Core.Sample.v3](https://github.com/urfnet/URF.Core.Sample.v3)?

[2022-04-11 04:44] DavidRogersDev commented on #87
Hi Tony,
I found that last night. It certainly is a lot easier to get going that the other sample.
It also emphasizes a different use of the Project. Direct use of the IRepository, rather than inheriting from the Service class.

I plan to create a bunch of small samples for myself, as I play with the latest version and get on top of its various features.
I'll make a repo out of that and if you fin

[2022-05-27 15:17] yxed opened #88 "FindOneAndReplaceAsync Issue"

[2022-05-27 15:17] #88 closed

[2022-05-27 15:19] gdloacev opened #89 "FindOneAndReplaceAsync Issue"
The method FindOneAndReplaceAsync sometimes return the wrong entity because internally has an async method for replace the entity and after has a return with another async method for get the entity, the problem is sometimes the get method finish first and return the entity without the changes. This issue cause in my case a concurrency exception because don´t update the eTag field.
![URF Core Issue

[2022-06-30 18:15] kbaley opened #91 "How to save a child collection"
I have a domain entity, Customer, with a collection of PhoneNumber entities. When I add a new customer, its data is saved but the phone numbers are not. I've tried making the phone number a value object and a full entity with the same result. The only way it works is if I explicitly loop over the phone numbers and call `.Insert` on its corresponding repository which I'd rather not do because I don